@model LamborghiniAuto.Models.Vendita

@{
    ViewData["Title"] = "Edit";
}

<h1>Modifica</h1>

<h4>Vendita</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cognome" class="control-label"></label>
                <input asp-for="cognome" class="form-control" />
                <span asp-validation-for="cognome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataVendita" class="control-label"></label>
                <input asp-for="dataVendita" class="form-control" />
                <span asp-validation-for="dataVendita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idMacchina" class="control-label"></label>
                <input asp-for="idMacchina" class="form-control" />
                <span asp-validation-for="idMacchina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salva" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Torna alla lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
