@model LamborghiniAuto.Models.Preventivo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Preventivo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="nomeCl" class="control-label"></label>
                <input asp-for="nomeCl" class="form-control" />
                <span asp-validation-for="nomeCl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cognomeCl" class="control-label"></label>
                <input asp-for="cognomeCl" class="form-control" />
                <span asp-validation-for="cognomeCl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="numeroCl" class="control-label"></label>
                <input asp-for="numeroCl" class="form-control" />
                <span asp-validation-for="numeroCl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
