@{ 
    ViewData["Title"] = "Catalogo"; 
 }
<div class="container text-white">
    <div class="row">
        <div class="col-md-12 col-xl-6 col-sm-1">
            <img src="~/img/huracan sto.jpg" class="immagine col-6" />
        </div>
        <div class="col-sm-12 col-md-12 col-xl-4">
            <p class="testo">
                Una supersportiva creata con l’unico scopo di offrire tutte le sensazioni della guida sportiva e la tecnologia di una vera auto da corsa in un modello omologato per uso stradale.
                L’esperienza pluriennale di Lamborghini nel motorsport, consolidata da un’eredità vincente, si concentra nella nuova Huracán STO: aerodinamica estrema, dinamica da corsa, componenti leggeri e il motore V10 con le prestazioni più elevate realizzato finora sono pronti a scatenare tutte le emozioni della pista nella tua vita quotidiana
            </p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-4 order-xl-3 order-sm-4">
            <p class="testo">Bella auto</p>
        </div>
        <div class="col-md-12 col-xl-6 col-sm-12 order-sm-3 order-xl-3">
            <img src="~/img/countach_lpi_800-4.jpg" class="immagine col-6" />
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 col-xl-6 col-sm-12">
            <img src="~/img/aventador_svj.jpg" class="immagine col-6" />
        </div>
        <div class="col-sm-12 col-md-12 col-xl-4">
            <p class="testo">
                Lamborghini sa perfettamente come affrontare le sfide, e per questo ha creato Aventador SVJ. Per fondere una tecnologia all’avanguardia con un design eccezionale, senza mai scendere a compromessi. Se in un futuro guidato dalla tecnologia si stanno perdendo le emozioni reali, nel futuro che stiamo disegnando sono sempre al centro, perché alla guida c’è sempre l’uomo.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-4 order-xl-3 order-sm-4">
            <p class="testo">La Lamborghini Sián Roadster è la prima supersportiva open-top ibrida a sfruttare la tecnologia dei supercondensatori in una soluzione ibrida, tecnologia a cui si affiancano applicazioni esclusive della scienza dei materiali. Il sound inimitabile del V12 Lamborghini più potente di sempre risuona nel cielo. Emozioni straordinarie sulla via dell’elettrificazione</p>
        </div>
        <div class="col-md-12 col-xl-6 col-sm-12 order-sm-3 order-xl-3">
            <img src="~/img/siansium-road.jpg" class="immagine col-6" />
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 col-xl-6 col-sm-12">
            <img src="~/img/urus pearl capsule.jpg" class="immagine col-6" />
        </div>
        <div class="col-sm-12 col-md-12 col-xl-4">
            <p class="testo">
                bella macchina 3
            </p>
        </div>
    </div>

    <br />
</div>