@model LamborghiniAuto.Models.Auto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Auto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="modello" class="control-label"></label>
                <input asp-for="modello" class="form-control" />
                <span asp-validation-for="modello" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prezzo" class="control-label"></label>
                <input asp-for="prezzo" class="form-control" />
                <span asp-validation-for="prezzo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="potenza" class="control-label">Potenza (cv)</label>
                <input asp-for="potenza" class="form-control" />
                <span asp-validation-for="potenza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="info" class="control-label"></label>
                <input asp-for="info" class="form-control" />
                <span asp-validation-for="info" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PezziVenduti" class="control-label"></label>
                <input asp-for="PezziVenduti" class="form-control" />
                <span asp-validation-for="PezziVenduti" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pezziDisponibili" class="control-label"></label>
                <input asp-for="pezziDisponibili" class="form-control" />
                <span asp-validation-for="pezziDisponibili" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
