@model LamborghiniAuto.Models.Auto

@{
    ViewData["Title"] = "Preventivo";
}

<div>
    <h2>Preventivo @Model.modello</h2>
    <br />
    <form asp-controller="Preventivi"asp-action="Create">
        <label class="text-white" for="nomeCl">Nome</label>
        <input type="text" name="nomeCl" class="form-control" />
        <label for="cognomeCl" class="text-white">Cognome</label>
        <input type="text" class="form-control" name="cognomeCl"/>
        <label for="numeroCl" class="text-white">Numero di telefono</label>
        <input type="number" class="form-control" name="numeroCl"/>
        <br />
        <input type="submit" class="btn btn-primary"/>
    </form>

    <br /><p>Modello: @Model.modello</p><br />
    <br /><p>Modello: @Model.potenza</p><br />
    <p>Prezzo: @Model.prezzo €</p>

</div>