@model LamborghiniAuto.Models.Finanza

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Finanza</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="entrate" class="control-label"></label>
                <input asp-for="entrate" class="form-control" />
                <span asp-validation-for="entrate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="uscite" class="control-label"></label>
                <input asp-for="uscite" class="form-control" />
                <span asp-validation-for="uscite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ricavi" class="control-label"></label>
                <input asp-for="ricavi" class="form-control" />
                <span asp-validation-for="ricavi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

